
.logo {
  width: 110px;
  height: 31px;
  background: url(../assets/logo-main.svg) no-repeat;
  background-size: auto 31px;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left;
}

.title {
  height: 63px;
  font-size: 18px;
  padding: 0 20px;
  float: left;
}

.link {
  color: #fff;
}
